*{
    --header-height: 60px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.header{
    display: flex;
    position: fixed;
    height: var(--header-height);
    -webkit-box-align: center;
    /* align-items: center; */
    left: 0px;
    top: 0px;
    right: 0px;

    background: rgba(255, 255, 255, 0.9);
    border: 0px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
nav{
    display: block;
    padding-left: 50px;
}
#nav{
    display: inline-flex;
    margin-left: 200px;
    text-align: center;
    height: var(--header-height);
    margin: auto;
    font-size: 20px;
}
#logo{
    font-family: 'Kohinoor Bangla';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    line-height: var(--header-height);
    padding-left: 20px;
}
#nav li{
    display: inline-flex;
    color: #000000;
    margin: auto;
    padding: 0 10px;
    min-width: fit-content;
    font-family: 'Kohinoor Bangla';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

#nav li a {
    text-decoration: none;
    padding: 4px;
    color: black;
    transition: box-shadow .4s;
}

#nav li:hover a{
    box-shadow: 0 3px #339C9C;
    font-weight: 550;
}

.content{
    
}


.footer{
    
}



/* Lesson page */

#lesson-nav{
    display: inline-flex;
    text-align: center;
    height: var(--header-height);
    font-size: 20px;
}

#lesson-nav li {
    display: inline-flex;
    color: #000000;
    margin: auto;
    padding: 0 10px;
    min-width: fit-content;
    font-family: 'Kohinoor Bangla';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

#lesson-nav li a{
    text-decoration: none;
    padding: 4px;
    color: black;
    transition: box-shadow .4s;
}

#lesson-nav li:hover a{
    box-shadow: 0 3px #339C9C;
    font-weight: 550;
}

#lesson-nav-logo {
    position: absolute;
    line-height: var(--header-height);
    text-decoration: none;
    padding: 4px;
    color: black;
}